/*!
Styles for full screen background video demo
*/
/* =============================================================================
  FONTS
============================================================================= */
@font-face {
  font-family: 'Toma Sans';
  src: url('../fonts/TomaSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TomaSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/TomaSans-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/TomaSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/TomaSans-Bold.svg#d1d427a5f23bba7718366949a7fe4113') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Toma Sans';
  src: url('../fonts/TomaSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TomaSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/TomaSans-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/TomaSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/TomaSans-Regular.svg#a7f4234f5abf7c19960a2d7ae445ee23') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Toma Sans';
  src: url('../fonts/TomaSans-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TomaSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/TomaSans-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/TomaSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/TomaSans-Light.svg#fc9d4462237e7f5754ea7ee2f2de6e2f') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  300;
}

@font-face {
  font-family: 'Toma Sans';
  src: url('../fonts/TomaSans-ExtraLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TomaSans-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/TomaSans-ExtraLight.woff') format('woff'), /* Modern Browsers */
       url('../fonts/TomaSans-ExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/TomaSans-ExtraLight.svg#4162c3bbdb445a336cd94aef28075090') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  200;
}

/* =============================================================================
  RESETS
============================================================================= */
html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

/* =============================================================================
  HTML, BODY
============================================================================= */
html,
body {
  height: 100%;
  background: #000000;
}

body, h1, h2, h3, h4, h5, h6, p, span {
  font-size: 16px;
  font-family: 'Toma Sans', sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}
h1 {
    font-size: 2.8rem;
}
h2 {
    font-size: 2.2rem;
}
h3 {
    font-size: 1.6rem;
}
main {
}
/* =============================================================================
  HEADER
============================================================================= */

header {
    height: 90px;
}

.logo_left {
    z-index: 4;
}

.main_nav {
    z-index: 4;
    width: 100%;
    font-weight: 200;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}
.main_nav li {
    padding-left: 20px;
}

.main_nav ul>li>a {
    color: #FFFFFF;
    text-decoration: none;
}

/* =============================================================================
  HOME
============================================================================= */
.clearBox {
  clear: both;
}

#home {
    width: 100%;
}

.content {
  width: 100%;
  height: 620px;
}

.content__main {
  position: relative;
  z-index: 3;
  width: 100%;
  text-align: center;
}

.content__heading {
  margin: 25px 0 5px 0;
  letter-spacing: 10px;
  color: #ffffff;
  font-size: 5rem;
  line-height: 80%;
  font-weight: 200;
}

.content__teaser {
  margin-bottom: 10px;
  color: #F1F1F1;
  font-size: 34px;
  font-weight: 200;
}

.content__cta {
  display: inline-block;
  margin: 0;
  padding: 12px 48px;
  color: #ff3c64;
  font-size: 22px;
  text-decoration: none;
  border: solid 4px #ff3c64;
}
.trsp-50 {
  opacity: .3;
  display: block;
  margin: 0 auto 10px auto;
}

.social {
  padding: 25px 15px;
}

.uk-icon-button {
  margin: 0 15px;
  font-size: 17px;
  line-height: 25px;
  width: 25px;
  height: 25px;
  color: #2c0e30;
  background: rgba(255, 255, 255, 0.6);
}
/* =============================================================================
  CANVAS
============================================================================= */
.background-container {
  position: absolute;
  opacity: .95;
  top: 36%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 710px;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* =============================================================================
  OVERLAY
============================================================================= */
.overlay {
  pointer-events: none;
  z-index: 2;
  position: absolute;
  height: 710px;
  width: 100%;
  left: 0;
  top: 0;
}
.vignette {
  background-image: -webkit-radial-gradient(50% 50%, ellipse, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 100%);
  background-image: radial-gradient(50% 50%, ellipse, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 100%);
}

.noise {
  background-image: url("../media/noise.png");
  opacity: 0.075;
}
/* =============================================================================
  SERVICES
============================================================================= */

#services {
    z-index: 4;
    min-height: 500px;
    background: #FFF;
}

#services h3 {
    font-size: 2.5rem;
    text-align: center;
}
/* =============================================================================
  MEDIA QUERIES
============================================================================= */
@media only screen and (max-width: 768px) {
  .content {
    padding: 0 15px;
  }
  .content__heading {
    font-size: 2.75rem;
    margin-top: 25px;
    line-height: 100%
  }
  .content__teaser {
    font-size: 1rem;
    line-height: 100%
  }
  .uk-icon-button {
    margin: 0 10px;
  }
}